.icon{
    width:50px;
    margin:10px;
}

.icon:hover {
    filter: brightness(150%);
    -webkit-filter: brightness(150%);
    -moz-filter: brightness(150%);
    -o-filter: brightness(150%);
    -ms-filter: brightness(150%);
    cursor: pointer;
}